<nav class="navbar navbar-dark bg-dark">
  <mif-logo></mif-logo>
  
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample01" aria-controls="navbarsExample01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  
  <div class="collapse navbar-collapse" id="navbarsExample01">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/dashboard" routerLinkActive="active">dashboard</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/about" routerLinkActive="active">about</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/lab" routerLinkActive="active">lab</a>
      </li>
    </ul>
  </div>
</nav>
